# =====================
# DATABASE SECRETS
# =====================

POSTGRES_USER=your_postgres_user
POSTGRES_PASSWORD=your_postgres_password

AUTH_DB_NAME=auth_db
EVENT_DB_NAME=event_db
TICKET_DB_NAME=ticket_db

AUTH_DB_PORT=5433
EVENT_DB_PORT=5434
TICKET_DB_PORT=5435

# =====================
# JDBC URLS (inside Docker network)
# =====================

AUTH_DB_URL=jdbc:postgresql://auth-db:5432/auth_db
EVENT_DB_URL=jdbc:postgresql://event-db:5432/event_db
TICKET_DB_URL=jdbc:postgresql://ticket-db:5432/ticket_db

# =====================
# REDIS
# =====================

REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASSWORD=your_redis_password

# =====================
# KAFKA
# =====================

KAFKA_BROKER_ID=1
KAFKA_ZOOKEEPER_CONNECT=zookeeper:2181
KAFKA_BOOTSTRAP_SERVERS=kafka:29092
KAFKA_ADVERTISED_HOST=localhost
KAFKA_HOST_PORT=9092
KAFKA_INTERNAL_PORT=29092
KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR=1

# =====================
# KAFKA UI
# =====================

KAFKA_UI_PORT=8085

# =====================
# SECURITY
# =====================

JWT_SECRET=your_jwt_secret_key